In [1]:
import json

In [2]:
from tqdm.auto import tqdm

In [3]:
DATA_PATH = "./data/ner_pairs"

In [4]:
import os

In [5]:
files = os.listdir(DATA_PATH)
files.remove("readme.txt")

In [6]:
triplet_store = []

In [7]:
for file in tqdm(files):
    with open(f"{DATA_PATH}/{file}") as f:
        obj = json.load(f)
        #print(file)
        #print(len(obj))
        triplets = []
        for subobj in obj:
            triplets += [subobj[1][i]['openie'] for i in range(len(subobj[1]))]
        
    for subarray in triplets:
        for triplet in subarray:
            del triplet['subjectSpan'], triplet['relationSpan'], triplet['objectSpan']
            triplet_store.append(triplet)

HBox(children=(IntProgress(value=0, max=92), HTML(value='')))

In [8]:
with open("./data/triplets.json", 'w', encoding='utf-8') as f:
    json.dump(triplet_store, f)

In [9]:
print(f'Total # of triplets: {len(triplet_store)}')

Total # of triplets: 75335

In [10]:
uniq_relations = set([obj['relation'] for obj in triplet_store])

In [11]:
print(f"Total # of uniq relations: {len(uniq_relations)}")

Total # of uniq relations: 26630

In [12]:
from collections import Counter
Counter([obj['relation'] for obj in triplet_store]).most_common(128)

[('is in', 4192),
 ('is', 2602),
 ('was', 1815),
 ('has', 1782),
 ('is with', 602),
 ('became', 441),
 ('announced In', 351),
 ('released', 327),
 ('was released in', 267),
 ('of', 263),
 ('include', 241),
 ('was born in', 241),
 ('had', 230),
 ('are', 225),
 ('received', 209),
 ('using', 199),
 ('announced', 196),
 ('used', 193),
 ('uses', 175),
 ('introduced', 171),
 ('launched', 166),
 ('acquired', 165),
 ('was founded in', 164),
 ('became In', 159),
 ('were', 155),
 ('moved to', 154),
 ('included', 153),
 ('joined', 149),
 ('be', 135),
 ('became in', 134),
 ('left', 134),
 ('developed', 132),
 ('announced On', 131),
 ('founded', 126),
 ('is In', 126),
 ('served as', 123),
 ('created', 118),
 ('published', 118),
 ('in', 115),
 ('began In', 110),
 ('to', 110),
 ('released in', 104),
 ('wrote', 103),
 ('by', 99),
 ('supports', 99),
 ('was awarded', 91),
 ('was founded by', 90),
 ('described', 88),
 ('have', 88),
 ('was held in', 84),
 ('reported In', 83),
 ('sold', 83),
 ('died in', 82),
 ('gave', 81),
 ('told', 80),
 ('use', 79),
 ('known as', 79),
 ('started', 79),
 ('is based on', 78),
 ('consists of', 78),
 ('become', 78),
 ('includes', 77),
 ('with', 76),
 ('attended', 75),
 ('added', 74),
 ('was published in', 73),
 ('began', 70),
 ('tells', 70),
 ('offers', 69),
 ('made', 69),
 ('was acquired by', 68),
 ('called', 68),
 ('was named', 65),
 ('replaced', 65),
 ('provides', 65),
 ('worked as', 65),
 ('announced in', 64),
 ('founder of', 63),
 ('asked', 63),
 ('won', 62),
 ('said In', 62),
 ('founded in', 61),
 ('started In', 60),
 ('on', 60),
 ('took', 59),
 ('was launched in', 58),
 ('moved In', 58),
 ('was released In', 58),
 ('completed', 58),
 ('being', 58),
 ('worked at', 57),
 ('was released on', 56),
 ('developed by', 56),
 ('contains', 55),
 ('based in', 55),
 ('stated In', 55),
 ('was developed by', 55),
 ('subsidiary of', 55),
 ('at', 54),
 ('launched in', 54),
 ('formed', 54),
 ('returned to', 53),
 ('grew up in', 53),
 ('for', 53),
 ('added In', 53),
 ('was introduced in', 53),
 ('began in', 52),
 ('used in', 51),
 ('wrote in', 51),
 ('met', 50),
 ('create', 49),
 ('led', 49),
 ('was appointed', 49),
 ('established', 49),
 ('graduated in', 48),
 ('sued', 48),
 ('was in', 48),
 ('worked with', 47),
 ('offered', 47),
 ('CEO of', 47),
 ('produced', 46),
 ('appeared in', 46),
 ('visited', 46),
 ('used In', 46),
 ('from', 45),
 ('developing', 44),
 ('was sentenced to', 44),
 ('published in', 44)]

In [13]:
Counter([obj['object'] for obj in triplet_store]).most_common(128)

[('him', 528),
 ('United States', 258),
 ('her', 240),
 ('2012', 234),
 ('2011', 233),
 ('2007', 227),
 ('2009', 224),
 ('2013', 223),
 ('2010', 211),
 ('2008', 209),
 ('2006', 195),
 ('2005', 192),
 ('2015', 188),
 ('2014', 188),
 ('2016', 174),
 ('2003', 169),
 ('CEO', 165),
 ('model', 162),
 ('2002', 158),
 ('Japan', 155),
 ('China', 149),
 ('2004', 146),
 ('time', 137),
 ('2001', 136),
 ('2000', 133),
 ('2017', 133),
 ('1999', 125),
 ('1997', 124),
 ('1998', 123),
 ('1995', 123),
 ('Google', 122),
 ('2018', 121),
 ('first', 120),
 ('Europe', 116),
 ('professor', 109),
 ('1996', 107),
 ('his work', 103),
 ('1991', 101),
 ('attack', 101),
 ('London', 100),
 ('president', 98),
 ('Germany', 98),
 ('1994', 95),
 ('Microsoft', 93),
 ('director', 87),
 ('them', 87),
 ('1992', 86),
 ('Apple', 85),
 ('1985', 84),
 ('Professor', 84),
 ('1988', 81),
 ('1990', 76),
 ('1993', 76),
 ('present', 75),
 ('UK', 74),
 ('author', 74),
 ('1986', 73),
 ('US', 73),
 ('1984', 72),
 ('India', 69),
 ('California', 67),
 ('France', 67),
 ('1982', 67),
 ('today', 65),
 ('Australia', 65),
 ('1989', 64),
 ('1979', 64),
 ('Internet', 63),
 ('1987', 63),
 ('1983', 62),
 ('one', 62),
 ('New York City', 62),
 ('1980', 61),
 ('year', 60),
 ('war', 59),
 ('North America', 58),
 ('Russia', 58),
 ('New York', 58),
 ('founder', 57),
 ('IBM', 54),
 ('editor', 54),
 ('2019', 54),
 ('first time', 54),
 ('general', 54),
 ('United Kingdom', 52),
 ('English', 52),
 ('U.S.', 52),
 ('years', 51),
 ('England', 51),
 ('Canada', 51),
 ('Windows', 50),
 ('attacks', 50),
 ('his book', 49),
 ('Director', 49),
 ('leader', 49),
 ('1981', 48),
 ('Earth', 48),
 ('San Francisco', 47),
 ('student', 46),
 ('1973', 45),
 ('Paris', 45),
 ('World War II', 44),
 ('YouTube', 44),
 ('co-founder', 43),
 ('developer', 43),
 ('1972', 43),
 ('Los Angeles', 43),
 ('Shirou', 42),
 ('his PhD', 41),
 ('April 2011', 41),
 ('Washington', 41),
 ('1965', 41),
 ('President', 41),
 ('October 2018', 41),
 ('1976', 40),
 ('chairman', 39),
 ('Brazil', 39),
 ('compiler', 38),
 ('his career', 38),
 ('1970', 38),
 ('first version', 38),
 ('1969', 38),
 ('his life', 37),
 ('creator', 37),
 ('1968', 36),
 ('Today', 36),
 ('September 2016', 36),
 ('1974', 36)]

In [14]:
Counter([obj['subject'] for obj in triplet_store]).most_common(128)

[('he', 4730),
 ('He', 2854),
 ('she', 1000),
 ('She', 695),
 ('Apple', 599),
 ('Microsoft', 571),
 ('Google', 548),
 ('one', 296),
 ('Nintendo', 288),
 ('his', 242),
 ('IBM', 229),
 ('Sega', 204),
 ('Netflix', 198),
 ('YouTube', 184),
 ('model', 151),
 ('him', 145),
 ('Tencent', 133),
 ('WikiLeaks', 120),
 ('Huawei', 116),
 ('first version', 105),
 ('China', 102),
 ('attack', 100),
 ('MSNBC', 92),
 ('Samsung', 90),
 ('Verizon', 88),
 ('PayPal', 88),
 ('Assange', 88),
 ('her', 87),
 ('United States', 86),
 ('Intel', 86),
 ('Cray', 86),
 ('Shirou', 82),
 ('Kurzweil', 82),
 ('Schopenhauer', 82),
 ('Skype', 80),
 ('Jesse', 78),
 ('Cavil', 77),
 ('FBI', 71),
 ('first', 70),
 ('Patricia Churchland', 70),
 ('NSA', 67),
 ('Zynga', 66),
 ('One', 65),
 ('Firefox', 63),
 ('two', 61),
 ('Yahoo', 60),
 ('Mozilla', 60),
 ('Spotify', 60),
 ('Nakamura', 59),
 ('Descartes', 58),
 ('Crytek', 56),
 ('Sony', 55),
 ('Wang', 55),
 ('Blazkowicz', 55),
 ('attacks', 55),
 ('Stallman', 55),
 ('Reddit', 53),
 ('they', 52),
 ('Sakura', 52),
 ('AMD', 51),
 ('Nokia', 51),
 ('Yahoo!', 51),
 ('Tigh', 51),
 ('Brăileanu', 51),
 ('Pirate Bay', 50),
 ('Britain', 49),
 ('Gibson', 48),
 ('THQ', 47),
 ('Germany', 47),
 ('Skinner', 47),
 ('Hitachi', 47),
 ('Tectoy', 47),
 ('Namco', 47),
 ('processor', 46),
 ('Oracle', 46),
 ('developer', 46),
 ('Romero', 46),
 ('Jagex', 45),
 ('Mobike', 45),
 ('Russia', 44),
 ('Japan', 43),
 ('author', 43),
 ('Manning', 42),
 ('Appelbaum', 42),
 ('France', 40),
 ('Hopper', 40),
 ('Facebook', 39),
 ('U.S.', 38),
 ('Jeong', 38),
 ('Bornstein', 38),
 ('CDC', 37),
 ('Quinn', 37),
 ('Bates', 37),
 ('BLM', 37),
 ('Clinton', 36),
 ('Konami', 36),
 ('Clearwire', 36),
 ('Liu', 35),
 ('formula _', 35),
 ('GitHub', 35),
 ('Bungie', 35),
 ('Anders', 35),
 ('Benton', 34),
 ('operator', 34),
 ('His', 34),
 ('LinkedIn', 34),
 ('UK', 34),
 ('Galton', 34),
 ('Cylons', 34),
 ('Goethe', 34),
 ('B.J.', 33),
 ('AT&T', 33),
 ("O'Donnell", 33),
 ('Folding@home', 33),
 ('Ireland', 32),
 ('Plato', 32),
 ('CIA', 32),
 ('India', 32),
 ('Jesus', 32),
 ('Maskull', 32),
 ('Lamo', 32),
 ('IGN', 31),
 ('Miller', 31),
 ('Sun', 31),
 ('Nvidia', 31),
 ('Thomas', 31),
 ('Sogou', 31),
 ('Phoenix', 31)]

## Clearing the things

In [42]:
deprecated = set(['one', 'he', 'she', 'they', 'his', 'her', 'its', 'our', 'day', 'co.', 'inc.', 
              'society', 'people', 'inventor', 'head', 'poet', 'doctor', 'teacher', 'inventor', 
              'thanksgiving day', 'halloween',
              'sales person', 'model', 'board', 'technology', 'owner', 'one', 'two'])

In [53]:
filtered_triplets = filter(lambda obj: obj['object'].lower() not in deprecated and obj['subject'].lower() not in deprecated, triplet_store)

In [54]:
filtered_triplets = filter(lambda obj: len(obj['object']) > 2 or len(obj['subject']) > 2, filtered_triplets)

In [55]:
filtered_triplets = list(filtered_triplets)

In [56]:
len(filtered_triplets)

64438

## Organizing the things

In [67]:
def examine_relations_with(relation_parts = [('released', 'in'), ('released', 'at')]):
    return set([
        obj['relation'] for obj in filtered_triplets 
        if any([
            all([part in obj['relation'] for part in part_tuple])
            for part_tuple in relation_parts
        ])
    ])

In [87]:
def examine_relations_position(relation_part = 'is', check_start=True):
    return set([
        obj['relation'] for obj in filtered_triplets
        if (obj['relation'].startswith(relation_part) if check_start else obj['relation'].endswith(relation_part))
    ])

In [115]:
list(range(10))[1:-1]

[1, 2, 3, 4, 5, 6, 7, 8]

In [121]:
def examine_relations_structure(start = "", middle = [], end = ""):
    middle_parts = set([
        obj['relation'] for obj in filtered_triplets
        if len(obj['relation'].split(' ')) >= 3 and any(mid_part in obj['relation'].split(' ')[1:-1] for mid_part in middle)
    ])
    return (examine_relations_position(start) & examine_relations_position(end, check_start=False)) & middle_parts

In [130]:
(examine_relations_position('is') & examine_relations_position('at', check_start=False))

{'is CEO at',
 'is Head at',
 'is Professor at',
 'is Science at',
 'is aimed at',
 'is also biologist at',
 'is also registered at',
 'is artist at',
 'is at',
 'is available at',
 'is based at',
 'is biologist at',
 'is building at',
 'is computational biologist at',
 'is disseminated at',
 'is executive at',
 'is format',
 'is fought at',
 'is found at',
 'is free at',
 'is headquartered at',
 'is larger at',
 'is located at',
 'is mathematician at',
 'is maximized at',
 'is posted at',
 'is presenter at',
 'is president at',
 'is professor at',
 'is professor interested at',
 'is registered at',
 'is represented at',
 'is senior executive at',
 'is sound artist at',
 'is still format',
 'is still used format',
 'is stored at',
 'is sworn in at',
 'is talking at',
 'is used format',
 'is usually talking at',
 'is weight at',
 'is widely used format',
 'issued at'}

In [133]:
relations = {
    'released_in': examine_relations_with(relation_parts=[('released', 'in'), ('released', 'at')]),
    'founded_in': examine_relations_with(relation_parts=[('founded', 'in'), ('founded', 'at')]),
    'who_is': examine_relations_with([('was', 'director', 'of'), ('was', 'director', 'at')]) |
              examine_relations_with([('is', 'director')]) |
              examine_relations_with([('is', 'employed')]),
    'when_was_born': examine_relations_with([('was', 'born', ' in')]),
    'where_was_born': examine_relations_with([('was', 'born', 'near'), ('was', 'born', 'at')]),
    'where_is_working': examine_relations_structure(
        "is",
        ['CEO', 'director', 'Head', 'professor',
         'mathematician', 'senior executive', 'president',
         'computational biologist', 'artist'],
        'at'
    )
}

## Selecting triplets with specified relations

In [135]:
new_triplets = []
for relation_type, relation_set in relations.items():
    for obj in filtered_triplets:
        if obj['relation'] in relation_set:
            obj['relation'] = relation_type
            new_triplets.append(obj)

In [146]:
new_triplets[800]

{'subject': 'Dodgeball', 'relation': 'founded_in', 'object': '2003'}

In [137]:
len(new_triplets)

1077

In [138]:
Counter(obj['relation'] for obj in new_triplets)

Counter({'released_in': 549,
         'founded_in': 274,
         'who_is': 12,
         'when_was_born': 219,
         'where_was_born': 9,
         'where_is_working': 14})

## Uploading the stuff into Neo4j(because sparql is overkill for our approach)

In [140]:
from py2neo import Node, Relationship, Graph

In [143]:
from tqdm import tqdm

In [141]:
credentials = {
    'host': 'github repo is too public to post it',
    'username': 'ask in skype',
    'password': ':)'
}

In [142]:
graph: Graph = Graph(credentials['host'], auth=(credentials['username'], credentials['password']))

In [152]:
def nuke_database():
    graph.run("MATCH (n) DETACH DELETE n")

In [157]:
nuke_database()

In [158]:
subject_mapping = {}
for subject in set(obj['subject'] for obj in new_triplets):
    subject_mapping[subject] = Node('subject', name=subject)
    #graph.create(subject_mapping[subject])
    
object_mapping = {}
for obj in set(obj['object'] for obj in new_triplets):
    object_mapping[obj] = Node('object', name=obj)
    #graph.create(object_mapping[obj])
    
for obj in tqdm(new_triplets):
    
    object_node = object_mapping[obj['object']]
    subject_node = subject_mapping[obj['subject']]
    #print(object_node)
    
    relation_type = obj['relation']
    relationship = Relationship.type("relation")
    rel = relationship(subject_node, object_node, type=relation_type)
    
    graph.create(rel)

100%|██████████| 1077/1077 [00:20<00:00, 52.49it/s]

In [169]:
def query(subject_name = None, relation_type = None, object_name = None):
    """
    At least two arguments should not be None for adequate amount of results
    """
    query = "MATCH (s:subject)-[r:relation]->(o:object) [WHERE_CLAUSE]RETURN s.name as subject, r.type as relation, o.name as object"
    
    clause = "WHERE "
    used = False
    if subject_name is not None:
        clause += f"s.name = '{subject_name}' "
        used = True
    if relation_type is not None:
        clause_item = f"r.type = '{relation_type}' "
        if used:
            clause_item = "AND " + clause_item
            
        clause += clause_item
        used = True
    if object_name is not None:
        clause_item += f"o.name = '{object_name}' "
        if used:
            clause_item = "AND " + clause_item
            
        clause += clause_item
        used = True
        
    if used:
        query = query.replace("[WHERE_CLAUSE]", clause)
    else:
        query = query.replace("[WHERE_CLAUSE]", '')
        
    return graph.run(query).to_table()

In [170]:
query(subject_name='Galton', relation_type='where_was_born')

 subject | relation       | object
---------|----------------|---------
 Galton  | where_was_born | Larches